body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: rgb(0, 10, 99);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("MainPageLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #011026;
}

.mb-3 {
  color: white;
}

.card-title {
  background-color: darkred;
  color: white;
}

.card-body {
  background-color: darkred;
}

.btn {
  height: 24px;
  width: 72px;
}

button {
  font-size: 12px !important;
  padding-bottom: 20px !important;
}

.btn-primary {
  color: #000000;
  background-color: #fad570;
  border-color: #ffffff;
  padding-bottom: 26px !important;
}

.btn-primary:hover {
  background-color: rgb(248, 177, 45);
}

.table {
	font-family: 	Arial, Verdana, sans-serif;
	color:		white;
	font-size:	16px;
}

.bg-success {
  background-color: darkred !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
